# Ignore Visual Studio files
.vs/
*.vscode/
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.ide
*.pdb
*.dll
*.exe

# Ignore build output
bin/
obj/

# Ignore NuGet packages
*.nuget.props
*.nuget.targets
packages/
